<h1> SCREENCASTER</h1>
<a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=9390867412.72436541940">
  <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
       srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
</a>
<video id="example_video_1" class="video-js vjs-default-skin video"
       controls preload="auto"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"example_option":true}'>
  <source src="<%= @url %>" type="video/mp4" />
</video>


