<h1> SCREENCASTER</h1>
<video id="example_video_1" class="video-js vjs-default-skin video"
       controls preload="auto"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"example_option":true}'>
  <source src="<%= @url %>" type="video/mp4" />
</video>