<!DOCTYPE html>
<html>
  <head>
    <title>Screencaster</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>


    <link href="https://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>


    <!--<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>-->
    <script src="dropzone.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
